
<h1> About this application</h1>
<p> I started this project to connect the members of the Kellogg student body in new ways. The goal of the project is to create an application to answer a question I often find myself asking: "Which of the 1000+ students, which I may not even know, are interested in doing ____ with me soon?"</p>

<p>The project started originated in KIEI 925 - Startup Programming and Management</p>
 
<p>If you have any questions or comments, please reach out:
</br><a href="mailto:josh@joshborin.com?Subject=Hey%20there%20Josh" target="_top">Josh@joshborin.com</a>
</br><a href="https://twitter.com/joshborin">@joshborin</a> on Twitter</p>



