
<% provide(:jumbotron, '
      <h1>Equipment Checkout System</h1>
      <p>An application for Mystopians to checkout equipment owned by the camp.</p>
       <p><a class="btn btn-success btn-lg" role="button" href="/items">Browse library &raquo;</a></p>
  '.html_safe)%>


  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Project Details</h2>
        <p>This project was started to manage Mystopia's assets. Learn more about the project here </p>
        <p><a class="btn btn-primary" href="/about" role="button">About &raquo;</a></p>
    
      </div>
      <div class="col-md-4">
        <h2>Placeholder</h2>
        <p>This placeholder text should help these three columns look better together.  </p>
        <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
     </div>
      <div class="col-md-4">
        <h2>Blog and News</h2>
        <p>Check out the latest news about the application. Posts published weekly</p>
        <p><a class="btn btn-primary" href="/blog" role="button" >View the blog &raquo;</a></p>
      </div>
    </div>


</body>
</html>