
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>

<body>
    <div class="container">
        <!-- Example row of columns -->

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
            <h2 class="text-center">Sign into your account</h2>
            <p class="text-info text-center">The fun is waiting for you!</p><br>
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <fieldset>
                                <div class="form-group">
                                <label class="col-lg-2 control-label" for=
                                "inputEmail">Email</label>

                                    <div class="col-lg-10">
                                    <input class="form-control" id="inputEmail"
                                    placeholder="Email" type="text">
                                    </div>
                                </div>

                                <div class="form-group">
                                <label class="col-lg-2 control-label" for=
                                "inputPassword">Password</label>

                                    <div class="col-lg-10">
                                    <input class="form-control" id=
                                    "inputPassword" placeholder="Password"
                                    type="password">

                                    <div class="checkbox">
                                        <label><input type="checkbox"> Remember
                                        this computer?</label>
                                    </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-2">
                                   
                                    <button class="btn btn-success" type=
                                    "submit">Sign into my account</button>
                                
                                    </div>
                                </div>
                                    <div class="well well-sm"> Not registered? <a href="/register" ><u>  Create an account &raquo;</u></a>
                                    </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                    
            </div>
        
        </div>
    </div>
</body>
</html>
