<% provide(:title, 'Add Item') %>
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div class="container">
        <!-- Example row of columns -->

        <div class="row">
            <div class="col-md-9 col-md-offset-1">
            <br>
                        <form class="form-horizontal">
                      <fieldset>
                         <legend><h1> Add an item</h1></legend>
        
                           
                                <div class="form-group">
                                    <label class="col-lg-2 control-label" for=
                                    "name">Item Name</label>

                                    <div class="col-lg-10">
                                        <input class="form-control" id=
                                        "name" placeholder=
                                        "enter item name" type="text">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-2 control-label" for=
                                    "description">Description</label>

                                    <div class="col-lg-10">
                                        <input class="form-control" id=
                                        "description" placeholder="describe the item"
                                        type="text">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-2 control-label" for=
                                    "storage">Where is it stored?</label>

                                    <div class="col-lg-10">
                                        <input class="form-control" id=
                                        "storage" placeholder="Where is it stored" type=
                                        "text">
                                    </div>
                                </div>
  
                                <div class="form-group">
                                    <label class="col-lg-2 control-label" for=
                                    "identifier">identifier</label>

                                    <div class="col-lg-10">
                                        <input class="form-control" id=
                                        "identifier" placeholder="identifier"
                                        type="text">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-2 control-label" for=
                                    "owner">Owner</label>

                                    <div class="col-lg-10">
                                        <input class="form-control" id=
                                        "owner" placeholder="Who owns it?" type=
                                        "text">
                                    </div>
                                </div>

<div class="form-group">
                                    <label class="col-lg-2 control-label" for=
                                    "purchase_date">Purchase date</label>

                                    <div class="col-lg-10">
                                        <input class="form-control" id=
                                        "purchase_date" placeholder="when was it bought?"
                                        type="text">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-2 control-label" for=
                                    "purchase_price">Purchase Price</label>

                                    <div class="col-lg-10">
                                        <input class="form-control" id=
                                        "purchase_price" placeholder="how much was it?"
                                        type="text">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-2">
                                        <button class="btn btn-success" type=
                                        "submit">Add item</button>
                                        
                                        
                                    </div>
                                </div>
                                    
                            </fieldset>
                        </form>
                    
               
            </div>
        </div>

        
    </div>
</body>
</html>
